{% extends 'base.html' %}

{% block title %} Contact Us{% endblock %}

{% block base_stylesheets %}
<style>
.contact {
    padding: 130px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ff9100;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}

</style>

{% endblock %}
{% block base_content %}
<section class="contact" id="contact">
    <div class="container">
        <div class="heading text-center">
            <h2>Contact
                <span> Us </span></h2>
            <p>Get in touch with us today! Reach out for any inquiries or collaborations.<br> We're here to assist you. Drop us a message now!</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="title">
                    <h3>Contact detail</h3>
                    <p>Complete the form below to send us your message. We value your feedback and look forward to hearing from you. Your input matters to us! </p>
                </div>
                <div class="content">
                    <!-- Info-1 -->
                    <div class="info">
                        <h4 class="d-inline-block">PHONE :
                            <br>
                            <span>+923xx-1234567</span></h4>
                    </div>
                    <!-- Info-2 -->
                    <div class="info">
                        <h4 class="d-inline-block">EMAIL :
                            <br>
                            <span>beyondthefiltercampaign@gmail.com</span></h4>
                    </div>
                    <!-- Info-3 -->
                    <div class="info">
                        <h4 class="d-inline-block">ADDRESS :<br>
                            <span>6743 last street , Abcd, Xyz</span></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-7">

                <form method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Name" name="name" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Subject" name="subject" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" placeholder="Message" name="message" required></textarea>
                    </div>
                    <button class="btn btn-block" type="submit">Send Now!</button>
                </form>
            </div>
        </div>
    </div>
</section>  

<footer class="text-light text-center py-3" style="background-color: #F88379;">
    <p>&copy; 2024 Beyond The Filter</p>
  </footer>
{% endblock %}
{% block base_scripts %}

<script>


</script>
{% endblock %}