{% extends 'base.html' %}
{% load static %}
{% block title %}{{video.title}}{% endblock %}

{% block base_stylesheets %}
<style>
    /* Define custom styles for the blog */
    .about-section {
      padding: 100px 0;
      text-align: center;
    }
    .about-section h2 {
      font-size: 42px;
      margin-bottom: 30px;
    }
    .team-section {
      padding: 50px 0;
      background-color: #ffffff;
    }
    .team-member {
      margin-bottom: 30px;
      transition: transform 0.3s ease-in-out;
    }
    .team-member:hover {
      transform: translateY(-10px);
    }

    .contact {
    padding: 130px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ff9100;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}
</style>

{% endblock %}


{% block base_content %}
<body>
         <section id="solutions">
        <div class="container text-center">
          <h2>{{video.title}}</h2>
          <div class="row pt-4">
            <video class="px-5 col-md-12 text-center" style="height: 400px;" controls>
                <source src="{{ video.video_file.url }}" type="video/mp4">
            </video>
            <p class="col-md-12 pt-5 text-center" style="line-height: 2.5; word-spacing: 0.3em;">
                    {{video.description}}
            </p>
            
        </div>
        </div>
      </section>
      <section class="contact" id="contact">
        <div class="container">
            
            <div class="row">
                <div class="col-md-5">
                    <div class="row content">
                        <!-- Info-1 -->
                        <div class="col-md-6 info">
                            <h4 class="d-inline-block">Tags :
                                <br>
                                <span>{{video.tag}}</span></h4>
                        </div>
                        <!-- Info-2 -->
                        <div class="col-md-6 info">
                            <h4 class="d-inline-block">Slugs :
                                <br>
                                <span>{{video.slug}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  

</body>

{% endblock %}

{% block base_scripts %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
